---
import PageSection from '../../components/PageSection.astro';
import TechSection from '../../components/TechSection.astro';
import TechText from '../../components/TechText.astro';
import ProjectCard from '../../components/ProjectCard.astro';
import { projects } from '../../data/projects';

interface Props {
  sectionIndex: number;
}

const { sectionIndex } = Astro.props;
---

<PageSection sectionIndex={sectionIndex}>
  <TechSection>
    <TechText variant="h2">
      Projects
    </TechText>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mt-6">
      {projects.map(project => (
        <ProjectCard {...project} />
      ))}
    </div>
  </TechSection>
</PageSection>
