---
import PageSection from '../../components/PageSection.astro';
import Section from '../../components/Section.astro';
import Text from '../../components/Text.astro';
import ProjectCard from '../../components/ProjectCard.astro';
import { projects } from '../../data/projects';

interface Props {
  sectionIndex: number;
}

const { sectionIndex } = Astro.props;
---

<PageSection sectionIndex={sectionIndex}>
  <Section>
    <Text variant="h2">
      Projects
    </Text>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mt-6">
      {projects.map(project => (
        <ProjectCard {...project} />
      ))}
    </div>
  </Section>
</PageSection>
